{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Destino -Europa- OnTour</title>
    <link rel="stylesheet" href="css/estilos.css">    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css">      
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
            <div class="container-fluid">
                <a class="navbar-brand" href="index.html">
                    <img src="../../static/imagenes/logo.png" alt="logo" width="auto" height="100">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="index.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="destinos.html">Nuestros Destinos</a>
                    </li>                  
                    <li class="nav-item">
                        <a class="nav-link" href="contacto.html">Contactenos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="inicioSesion.html">Iniciar Sesión</a>
                    </li>
                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Buscar</button>
                    </form>
                </div>
            </div>
          </nav>
    </header>      

    <main>
        <hr size="10px" color="black"/>
        <div class="container marketing" >

            <div class="row">
            <div class="col-lg-4">
                <img src="../../static/imagenes/europa.jpg" width="140" height="140" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
                <h2 class="fw-normal">Europa</h2>
                <p>La cuna de la civilización actual.</p>
                <p><a class="btn btn-secondary" href="Europa.html">Ver Detalles &raquo;</a></p>
            </div>
            <div class="col-lg-4">
                <img src="../../static/imagenes/Asia.jpg" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
                <h2 class="fw-normal">Asia</h2>
                <p>Lugares increibles, cuna de civilizaciones antiguas.</p>
                <p><a class="btn btn-secondary" href="Asia.html">Ver Detalles &raquo;</a></p>
            </div>
            <div class="col-lg-4">
                <img src="../../static/imagenes/chile.webp" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
                <h2 class="fw-normal">Chile</h2>
                <p>Chile y sus Maravillas Naturales.</p>
                <p><a class="btn btn-secondary" href="Chile.html">Ver Detalles &raquo;</a></p>
            </div>
            </div>
            <hr class="featurette-divider">
        
            <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Coliseo Romano. <span class="text-body-secondary">Italia.</span></h2>
                <p class="lead">El Coliseo o Anfiteatro Flavio es un anfiteatro de la época del Imperio romano, construido en el siglo I.</p>
            </div>
            <div class="col-md-5">
                <img src="../../static/imagenes/coliseo.jpg" width="500" height="500" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"/><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em"></text></svg>
            </div>
            </div>
        
            <hr class="featurette-divider">
        
            <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1">Paris. <span class="text-body-secondary">Francia.</span></h2>
                <p class="lead">París, la capital de Francia, es una importante ciudad europea y un centro mundial del arte, la moda, la gastronomía y la cultura.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="../../static/imagenes/francia.jpg" width="500" height="500" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"/><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em"></text></svg>
            </div>
            </div>
        
            <hr class="featurette-divider">
        
            <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Londres. <span class="text-body-secondary">Reino Unido.</span></h2>
                <p class="lead">Londres, la capital de Inglaterra y del Reino Unido, es una ciudad del siglo XXI con una historia que se remonta a la época romana.</p>
            </div>
            <div class="col-md-5">
                <img src="../../static/imagenes/london.jpg" width="500" height="500" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"/><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em"></text></svg>
            </div>
            </div>
        </div>
    </main>
    
    <footer class="containerf">
        <p>&copy; 2023 On Tour S.A &middot;</p>
    </footer>
    <link rel="stylesheet" href="{% static 'ontourapp/css/estilos.css' %}">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>