.containers{
    display: flex;
}
.card{
    position: relative;
    left: 0px;
}
.card:not(:first-child){
    margin-left: -50px;
}
.card:hover{
    transform: translateY(-20px);
}
.card:hover ~ .card{
    left: 50px;
}
.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-text{
    width: 100%;
    height: 100%;
    object-fit: cover
}
#titulo{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: #178bf8;
}


.navbarSupportedContent{
    align-items: center;
}

.container-marketing{
    align-items: center;
}

.containerf{

    background-color: #e3f2fd;
    color: #178bf8;
    text-align: center;
    padding: 2rem;
    margin-top: 15rem;       
}
.containerfd{

    background-color: #e3f2fd;
    color: #178bf8;
    text-align: center;
    padding: 2rem;
    margin-top: 1rem;       
}